html, body {
    height: 100%;
    margin: 0;
}
paper-scroll-header-panel {
    height: 100%;
}

paper-toolbar #topBar {
    padding-left: 8px;
    padding-right: 12px;
}

strapieno-user-avatar#logged-avatar {
    cursor: pointer;
}